<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head(~{::title})">
    <title>Home page</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h4>Current projects</h4>
    <div th:replace="projects/project-table :: project-table"></div>
</div>

<div class="container">
    <h4>Current employees</h4>
    <div th:replace="employees/employee-table :: employee-table"></div>
</div>

<div class="col-md-4">
    <canvas id="myPieChart" height="50" width="50"></canvas>

</div>

<script type="text/javascript" th:src="@{/js/myChart.js}"></script>
</body>
</html>