<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head(~{::title})">
    <title>Home page</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div>
    <h4>Current projects</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getName()}">project 1</td>
            <td th:text="${project.getStage()}">Not Started</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Current employees</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getFirstName()}">Tom</td>
            <td th:text="${employee.getLastName()}">Soyer</td>
            <td th:text="${employee.getEmail()}">tom2@example.com</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>