<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="employee-table">

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getFirstName()}">Tom</td>
            <td th:text="${employee.getLastName()}">Soyer</td>
            <td th:text="${employee.getEmail()}">tom2@example.com</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>