<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head(~{::title})">
    <title>Employee Form</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<br>
<div class="container">
    <form th:action="@{/employees/save}" method="POST" th:object="${employee}">

        <div class="form-group row">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="John"
                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{firstName}"></div>
        </div>

        <!-- this will be used to bind to the employee that was clicking on; (used for updates) -->
        <input type="hidden" th:field ="*{employeeId}" />


        <div class="form-group row">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Doe"
                   th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{lastName}"></div>
        </div>

        <div class="form-group row">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="example@email.com"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>

        <button type="submit" class="btn btn-info col-2">Enter Employee</button>
    </form>
</div>
</body>
</html>